@font-face {
    font-family: "Fanwood";
    src: url("fonts/fanwood-webfont.woff");
}

body {
	background-color: mintcream;
	margin-left: 80px;
	margin-right: 80px;
	font-family: Fanwood, fantasy;
}

h1 {
	font-size: 2.4em;
	font-weight: 800;
	margin-bottom: 0;
	padding-bottom: 0;
}

h2 {
	font-size: 2.0em;
	font-weight: 600;
}

h3 {
	font-size: 1.6em;
	font-weight: 300;
}

p {
	font-size: 1.2em;
}

ul {
	font-size: 1.2em;
	padding-left: 15px;
}

main {
	margin-top: 80px;
	justify-content: space-between;
	display: flex;
}

section {
	width: Calc(96% / 4);
}

figure {
	padding: 0;
	margin: 10px;
}

img {
	width: 100%;
	height: auto;
}

footer {
	text-align: center;
}

a:link {
	color: #ff78bc;
	text-decoration: underline;
}

a:visited {
	color: #d10ea4;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: deeppink;
	background: #f7f5fb;
}

a:active {
	text-decoration: none;
}

.nav {
	list-style: none;
	display: flex;
	margin-left: 0;
	padding-left: 0;
	gap: 2%;
	margin-top: 0;
	padding-top: 0;
}

.img_padded {
	width: 100%;
	height: auto;
	padding-top: 85px;
}

#logo 
{
    width: 120px;
    height: auto;
    fill: cyan;
    position: fixed;
    top: 20px;
    right: 35px;
}

#logo:hover 
{
    fill: chartreuse;
}

#logo:active 
{
    fill: yellow;
}
        